#container {
  text-align: center;
}

body {
  background-color: #cccccc;
}

h1 {
  font-family: cursive;
  font-size: 3em;
  color: #dc0000;
  margin-bottom: 0;
}

#restart {
  font-size: 1.5em;
  font-family: cursive;
  color: rgb(182, 0, 0);
  background-color: rgb(14, 0, 0);
  border-radius: 10px
}

h2 {
  font-size: 2em;
  font-family: sans-serif;
}

.input {
  width: 30%;
  height: 2em;
  text-align: center;
}

.buttonValidate {
  width: 15%;
  height: 37px;
  background-color: white;
  font-size: 1.em;
}

.players {
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

#length {
  font-size: 2em;
  color: red;
  margin: 0;
}

.onePlayer {
  font-size: 2em;
  font-family: fantasy;
  border: 3px grey solid;
  width: max-content;
  margin: 2px;
  color: #090052;
}

.divMatches {
  display: none;
}

#status {
  font-size: 2em;
  color: red;
  margin: 0;
}
